<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TimeStone</title>
    <link rel="stylesheet" href="../css/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <link rel="shortcut icon" href="../img/ic.jpg">
    <script src="https://unpkg.com/vue"></script>
    <script src ="../js/chat.js"></script>
  </head>
  <body>
    <div class ="topBar">
      <div class ="arrowBtn" onclick="back()"></div>
      <div class = "name">{{name}}</div>
    </div>
    <div class = "showDate">
      <div class = "line1"/></div>
      <span class = "lastDay">{{day}}</span>
      <div class = "line2"/></div>
    </div>
    <div class = "chatLog">
      <ul id = "log">
        <li v-for = "item in items" class = "chatmsg">
          <div class = "msg">
            <img :src = "item.img" class = "profileImg" />
            <div class = "msgName">{{ item.name }}</div>
            <div class = "msgIndex">{{ item.index }}</div>
            <div class = "msgTime">{{ item.time }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div style="margin-top:0.8vh; color:#f0f0f0"> lorem ipsum </div>
    <form class = "inputMsg">
      <div class = "exceptionBtn"></div>
      <input type="text" class = "index" placeholder="Input message"/>
      <input type="submit" class="sendMessage" value=""/>
    </form>
  </body>
</html>
