<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TimeStone</title>
    <link rel="stylesheet" href="css/friend.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
    <script src="https://unpkg.com/vue"></script>
    <script src = "js/friend.js"></script>
    <!-- Vue.js  https://kr.vuejs.org/v2/guide/index.html -->
  </head>
  <body>
    <div class = "topBar">
    </div>
    <div class = "searchArea">
      <div class = "glass"></div>
      <input type="text" class="search" placeholder="Search your friend!"/>
    </div>
    <hr style="border: 1px solid #0088d7"/>
    <div class = "friendList">
      <ul id = "friend">
        <li v-for="item in items" class = "friendItem">
          <img :src="item.img" class="profileImg" />
          <div class = "friendName">{{ item.name }}</div>
          <div class = "friendEmail">{{ item.email }}</div>
        </li>
      </ul>
    </div>
  </body>
</html>
