<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TimeStone</title>
    <link rel="stylesheet" href="css/friend.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
    <script src = "js/login.js"></script>
  </head>
  <body>
    <div class = "topBar">
      <div class = "hamburgerButton" onclick="hmBtn()">
        <div class ="bars">
          <div class = "bar"></div>
          <div class = "thisismargindiv"></div>
          <div class = "bar"></div>
          <div class = "thisismargindiv"></div>
          <div class = "bar"></div>
        </div>
      </div>
      <div class ="TimeStone">
        <div class = "webTitle">TIME STONE</div>
        <div class = "Logo"></div>
      </div>
    </div>
  </body>
</html>
