<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TimeStone</title>
    <link rel="stylesheet" href="css/friend.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
    <script src = "js/login.js"></script>
  </head>
  <body>
    <div class = "topBar">
    </div>
    <div class = "searchArea">
      <div class = "glass"></div>
      <input type="text" class="search" placeholder="Search your friend!"/>
    </div>
  </body>
</html>
