<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/super.css">
    <script src = "js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
  </head>
  <body>
    <div class = "Logo"></div>
    <form class = "inputLogin">
      <input type="email" class = "inputEmail" placeholder="e-mail" required>
      <div style="margin : 0.4vh;"></div>
      <input type="password" class = "inputPasswd" placeholder="password" required>
      <br />
      <input type="submit" onclock="login();" class = "loginBtn" value="Login">
      <input type="button" onclick="goReg();" class = "regBtn" value="sign up">
    </form>
  </body>
</html>
