<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/super.css">
    <script src = "../js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class = "Logo"></div>
    <div class = "inputLogin">
      <input type="email" class = "inputEmail" placeholder="e-mail">
      <div style="margin : 0.4vh;"></div>
      <input type="password" class = "inputPasswd" placeholder="password">
      <br />
      <div class = "btns">
        <input type="button" onclock="login();" class = "loginBtn" value="Login">
        <input type="button" onclick="goReg();" class = "regBtn" value="sign up">
      </div>
    </div>
  </body>
</html>
