<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/super.css">
    <title>Welcome</title>
  </head>
  <body>
    <div class = "Logo"></div>
    <div class = "btnArea">
      <a href="/login">
        <div class = "loginLink">LOGIN</div>
      </a>
        <div style="margin : 0.2vh"></div>
      <a href = "/signup1">
        <div class = "regLink">SIGN UP</div>
      </a>
    </div>
  </body>
</html>
