<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/signup2.css">
    <link rel="stylesheet" href="css/super.css">
    <link rel="shortcut icon" href="img/ic.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/signup2.js"></script>
    <script type= "text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>
    <title>Signup</title>
  </head>
  <body>
    <form id = "inputArea">
      <input id = "inputName" type="text" placeholder="name" required/><br/>
      <input id = "inputPhone" type="text" placeholder="phone number" required/><br />
      <input type="button" value="back" class = "back" onclick="back()"/>
      <input type="button" id = "submit" value="next" onclick="next()"/>
    </form>
  </body>
</html>
