<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Singup</title>
    <link rel="stylesheet" href="css/signup3.css" />
    <link rel="stylesheet" href="css/super.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
    <link rel="shortcut icon" href="img/ic.jpg">
    <link rel="shortcut icon" href="img/ic.jpg">
    <link rel="shortcut icon" href="img/ic.jpg">
    <script type= "text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src = "js/signup3.js"></script>
  </head>
  <body>
    <input type="file" id="profile" class = "profileImg" capture="camera" accept="image/*" required>
    <label for="profile">
      <div class = "cameraCss">
        <div class = "cameraButton1"></div>
        <div class = "cameraButton2"></div>
        <div class = "cameraButton3"></div>
        <div class = "cameraCircle">
          <div class = "inCircle">
          </div>
        </div>
      </div>
    </label>
    
    <!-- <img id="pic" style="width:100%; height:250px;" /> -->
    </div>
    <div class = "btns">
      <input type="button" class = "back" value ="back" onclick="back()">
      <input type="submit" id = "submit" value ="next" onclick="next()">
    </div>
  </body> 
</html>
