<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Singup</title>
    <link rel="stylesheet" href="css/signup3.css" />
    <link rel="stylesheet" href="css/super.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "js/signup3.js"></script>
    <script src="/jquery/jquery.js"></script>
  </head>
  <body>
    <input type="file" id="profile" capture="camera" accept="image/*">
    <img id="pic" style="width:100%; height:250px;" />
    </div>
    <div class = "btns">
      <input type="button" class = "back" value ="back" onclick="back()">
      <input type="submit" id = "submit" value ="next" onclick="next()">
    </div>
  </body>
</html>
