<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="css/signup1.css">
    <link rel="stylesheet" href="css/super.css">
    <script src="js/signup1.js"></script>
  </head>
  <body>
    <form class = "inputArea">
      <input id = "inputEmail" type="email" placeholder="e-mail" required/><br/>
      <input id = "inputPasswd" type="password" placeholder="password"required/><br />
      <input type="button" value="back" class = "back" onclick="back()"/>
      <input type="submit" id = "submit" value="next" onclick="next()"/>
    </form>
  </body>
</html>
