<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/welcome.css" />
    <link rel="stylesheet" href="css/super.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ic.jpg">
    <script src = "js/welcome.js"></script>
    <script type= "text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    <div class="Welcome">Welcome</div>
    <div class="TimeStone">TimeStone!</div>
    <input type ="button" class = "goLogin" onclick="goLogin()" value="Go Login!">
  </body>
</html>