body{
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}
.topBar{
  width:100%;
  height: 9vh;
  position:relative;
  background-color: #0088d7;
}
.arrowBtn{
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left:4.8%;
  top: 41%;
  width: 6%;
  height: 26.2%;
}
.name{
  position: absolute;
  height: 3vh;
  font-size: 2.5vh;
  color:#fff;
  left  :13.5%;
  top: 3vh;
}
.showDate{
  position: relative;
  margin-top: 2vh;
  width: 100%;
  height: 2vh;
}
.line1{
  left: 4.4%;
  position: absolute;
  background-color: #6f6f6f;
  width: 29vw;
}
.line2{
  position: absolute;
  left: 66.5%;
  background-color: #6f6f6f;
  width: 29vw;
}
.lastDay{

  text-align: center;
  width: 28.9%;
  left : 35.6%;
  height: 100%;
  position: absolute;
  color: #6f6f6f;
  font-size: 1.5vh;
  letter-spacing: -0.6px;
}
