@font-face{font-family: 'NotoSansCJKkr-Regular'; src:url('/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Regular.otf');}
@font-face{font-family: 'NotoSansCJKkr-DemiLight'; src:url('/font/NotoSansCJKkr-hinted/NotoSansCJKkr-DemiLight.otf');}

body{
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  position: relative;
}
.topBar{
  z-index: 100;
  margin-top: -10.5vh;
  position: fixed;
  display: flex;
  width:100%;
  height: 9vh;
  background-color: #0088d7;
}
.arrowBtn{
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6%;
  height: 2vh;
  margin-left:4.8%;
  margin-top: auto;
  margin-bottom: auto;
}
.name{
  font-family: 'NotoSansCJKkr-Regular';
  font-size: 2.7vh;
  color:#fff;
  margin-left: 1.5vw;
  margin-top: auto;
  margin-bottom: auto;
}
.showDate{
  display: flex;
  margin:auto;
  margin-top: 10.5vh;
  height: 2vh;
  width: 91.2vw;
}
.line1{
  margin-top: auto;
  margin-bottom: auto;
  background: #6f6f6f;
  height: 1px;
  width: 29vw;
}
.line2{
  margin-top: auto;
  margin-bottom: auto;
  background: #6f6f6f;
  height: 1px;
  width:29vw;
}
.lastDay{
  font-family: 'NotoSansCJKkr-DemiLight';
  margin: auto;
  text-align: center;
  color: #6f6f6f;
  font-size: 1.6vh;
  letter-spacing: -0.5px;
  width: 29vw;
}
.chatLog{
}
#log{
  margin: 0;
  padding: 2vh;
  list-style: none;
}
.msg{
  position:relative;
  margin-bottom: 2.6vh;
}
.profileImg{
  height: 6vh;
  width: 6vh;
  background: #0088d7;
  border-radius: 50%;
}
.msgName{
  font-family: 'NotoSansCJKkr-DemiLight';
  margin-left : 6.8vh;
  margin-top: -6.5vh;
  font-size: 2vh;
}
.msgIndex{
  color: #575757;
  padding: 1vw;
  padding-left:1.5vw;
  border-radius: 0.4em;
  background-color: #F5F5F5;
  font-size:2.4vh;
  font-family: 'NotoSansCJKkr-Regular';
  border: 1px solid #0088d7;
  width: 60vw;
  margin-left: 6.8vh;
  white-space:normal;
  word-break: break-all;
}
.msgTime{
  position: absolute;
  font-family: 'NotoSansCJKkr-DemiLight';
  display: inline;
  font-size:2vh;
  color:#6f6f6f;
  margin-left:76vw;
  margin-top: -2.5vh;
}
.inputMsg{
  position: fixed;
  display: flex;
  width: 100%;
  height: 6.1vh;
  background: #0088d7;
  z-index: 110;
  top:93.9vh;
}
.index{
  line-height: calc(70% - 1px);
  font-size: 2.4vh;
  text-indent: 0.7em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1%;
  height: calc(60% - 1.5px);
  width: calc(92% - 3.6vh - 1.5px);
  border-radius: 2em;
  border: 1.5px solid lightgray;
  color: #000000;
  background: #f0f0f0;
}
.exceptionBtn{
  border-radius: 0.5em;
  margin-left: calc(3vw - 1.5px);
  margin-top: auto;
  margin-bottom: auto;
  border: 1.5px solid lightgray;
  background-color: #f0f0f0;
  height: 3.6vh;
  width: 3.6vh;
}
