body{
  margin: 0;
  padding: 0;
}
.topBar{
  width:100%;
  height: 7.8vh;
  background-color: #0088d7;
  position:relative;
}
.hamburgerButton{
  position: absolute;
  left:4.4%;
  top: 40%;
  width:3.9%;
  height: 20%;
}
.bars{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.bar{
  width: 100%;
  height: 16%;
  background: #ffffff;
}
.thisismargindiv{
  margin-bottom: 26%;
}
