
.Logo{
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 200px;
  margin: auto;
  margin-top : 17vh;
  margin-bottom: 14vh;
}
::placeholder{
  color: #ffffff;
  opacity: 0.4;
}
.inputLogin{
  margin-left: 23.9vw;
}
.inputEmail{
  color: #ffffff;
  width: 52.2vw;
  height: 3.3vh;
  border: 0px;
  border-bottom: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.inputPasswd{
  color: #ffffff;
  width: 52.2vw;
  height: 3.3vh;
  border:0px;
  border-bottom: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.loginBtn{
  margin-top : 2vh;
  opacity: 0.8;
  color: #ffffff;
  width: 25.5vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.regBtn{
  opacity: 0.8;
  color: #ffffff;
  width: 25.5vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
