@font-face{font-family: 'NotoSansCJKkr-Light'; src:url('/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.otf');}
@font-face{font-family: 'NotoSansCJKkr-DemiLight'; src:url('/font/NotoSansCJKkr-hinted/NotoSansCJKkr-DemiLight.otf');}

.Logo{
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 200px;
  margin: auto;
  margin-top : 17vh;
  margin-bottom: 14vh;
}
::placeholder{
  font-family: 'NotoSansCJKkr-Light';
  color: #ffffff;
  opacity: 0.4;
}
.inputLogin{
  margin-left: 23.9vw;
}
.inputEmail{
  text-indent: 1vw;
  font-family: 'NotoSansCJKkr-Light';
  color: #ffffff;
  width: 52.2vw;
  height: 3.3vh;
  border: 0px;
  border-bottom: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.inputPasswd{
  text-indent: 1vw;
  font-family: 'NotoSansCJKkr-Light';
  color: #ffffff;
  width: 52.2vw;
  height: 3.3vh;
  border:0px;
  border-bottom: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.loginBtn{
  line-height: 50%;
  font-size: 2vh;
  font-family: 'NotoSansCJKkr-DemiLight';
  margin-top : 2vh;
  opacity: 0.8;
  color: #ffffff;
  width: 25.5vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
.regBtn{
  line-height: 50%;
  font-size: 2vh;
  font-family: 'NotoSansCJKkr-DemiLight';
  opacity: 0.8;
  color: #ffffff;
  width: 25.5vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
