.btns{
  margin-left: 17.4vw;
  margin-top: 11.6vh;
}
.back{
  margin-top:4.1vh;
  color: #ffffff;
  width: 30.3vw;
  height: 4.6vh;
  margin-right: 1vw;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
#submit{
  color: #ffffff;
  width: 30.3vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}

#camera{
  margin-top: 21.1vh;
  margin-left: 33.4vw;
  width: 30.7vw;
  height: 30.7vw;
  background: #ffffff;
  border-radius: 50%;
}
