@font-face{font-family: 'NotoSansCJKkr-Light'; src:url('/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.otf');}

#inputArea{
  margin-left: 17.4vw;
  margin-top: 40vh;
}
#inputName{
  font-family: 'NotoSansCJKkr-Light';
  width: 63vw;
  margin-bottom: 4.1vh;
  border: 0px;
  height: 3vh;
  color:#ffffff;
  border: 0px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-indent: 1vw;
  background-color: rgba( 255, 255, 255, 0);
}
::placeholder{
  font-family: 'NotoSansCJKkr-Light';
  color:#ffffff;
  opacity: 0.6;
}
#inputPhone{
  font-family: 'NotoSansCJKkr-Light';
  color:#ffffff;
  width: 63vw;
  height: 3vh;
  border: 0px;
  border: 0px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-indent: 1vw;
  background-color: rgba( 255, 255, 255, 0);
}
.back{
  font-family: 'NotoSansCJKkr-Light';
  margin-top:4.1vh;
  color: #ffffff;
  width: 30.3vw;
  height: 4.6vh;
  margin-right: 1vw;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
#submit{
  font-family: 'NotoSansCJKkr-Light';
  color: #ffffff;
  width: 30.3vw;
  height: 4.6vh;
  border: 1px solid #ffffff;
  background-color: rgba( 255, 255, 255, 0);
}
